@charset "utf-8";

html,body,div,span,p,a,ul,ol,li,h1,h2,h3,form,input,section,hgroup,figure,nav {
	padding: 0;
	margin: 0;
}

ul, ol, li {
	list-style: none;
    padding: 0;
    margin: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
}

body {
	background-color: #eff3f5;
}

body, input, button, select, textarea {
	font: 13px/1.5 "Microsoft Yahei","Helvetica Neue";
    color: #34495e;
}